@font-face { font-family: Minecrafter; src: url('../Minecrafter.TTF'); } 
@font-face { font-family: Minecrafter_Reg; src: url('../Minecrafter_Reg.TTF'); } 
@font-face { font-family: Minecraftia; src: url('../Minecraftia-Regular.TTF'); } 

body {
	background-image: url('userback.png');
	background-position : relative; 
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	position: relative;
	
	}
h1 {
	color: #b4aba6; 
	font-family: Minecrafter_Reg;
	font-size:60px;
	letter-spacing: 5px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	
}
h4 {
	border-style : solid;
	border-color : gray;
	border-spacing : 2px;
	padding : 5px;
	border-radius: 5px;
	width: 50%;
	height: 12%;
	padding-bottom: 10px;
	
	
}
h4 img {
	border:solid;
	border-color: gray;
	padding: 10px;
}
a {
	text-decoration: none;
}

.name h2{
	border: solid;
	border-color: #66FCF1;
	border-radius: 7px;
	margin-top: 20px;
	height: 7%;
	width: 83%;
	float: left;
	color: black;
	font-family: Minecraftia;
	padding-top: 10px;
	letter-spacing: 5px;
	background-color: #c7c7c7;
}

.name img{
	float: right;
	width: 200;
	height: 200;
	border: solid;
	border-color: #66FCF1;
	margin-right: 10px;
	margin-top: 0px;
}
h3 {
	border: solid;
	border-color: yellow;
	border-radius: 7px;
	margin-top: 20px;
	height: 7%;
	width: 83%;
	float: left;
	color: yellow;
	font-family: Minecraftia;
	padding-top: 10px;
	background-color: #c7c7c7;
}
p{
	color: white;
	font-family: Minecraftia;
	text-align: center;
	padding: 5px;
	padding-top: 10px;
	font-size: 18px;
	
}
.pob {
	border: solid;
	height: 50px;
	width: 270px;
	float: left;
	margin-left: 20%;
	color: #7b7b7b;
	background-color: #c7c7c7;
}
.qc {
	border: solid;
	height: 50px;
	width: 270px;
	float: right;
	margin-right: 20%;
	background-color: #c7c7c7;
	
}
.cs {
	border: solid;
	height: 50px;
	width: 270px;
	float: left;
	margin-left: 20%;
	color: #7b7b7b;
	background-color: #c7c7c7;
}
.single {
	border: solid;
	height: 50px;
	width: 270px;
	float: right;
	margin-right: 36%;
	background-color: #c7c7c7;
	
}
.religion {
	border: solid;
	height: 50px;
	width: 270px;
	float: left;
	margin-left: 20%;
	color: #7b7b7b;
	background-color: #c7c7c7;
}
.rc {
	border: solid;
	height: 50px;
	width: 270px;
	float: right;
	margin-right: 36%;
	background-color: #c7c7c7;
	
}
.citizen {
	border: solid;
	height: 50px;
	width: 270px;
	float: left;
	margin-left: 20%;
	color: #7b7b7b;
	background-color: #c7c7c7;
}
.fil {
	border: solid;
	height: 50px;
	width: 270px;
	float: right;
	margin-right: 36%;
	background-color: #c7c7c7;
	
}
.height {
	border: solid;
	height: 50px;
	width: 270px;
	float: left;
	margin-left: 20%;
	color: #7b7b7b;
	background-color: #c7c7c7;
}
.h {
	border: solid;
	height: 50px;
	width: 270px;
	float: right;
	margin-right: 36%;
	background-color: #c7c7c7;
}
h1:hover {transform: scale(1.1);}
h4:hover{background-color: black;}	